# LIST

**IN THE LIST DATA COMES IN SQUARE BRACKET [ list ]
IT HOLDS ALL DATA
IT IS MUTABLE( mean you can edit it )**

In [2]:
l = []
l

[]

In [3]:
l = ['a','b','c']
l

['a', 'b', 'c']

In [12]:
l = ['a',6,9.16]
l

['a', 6, 9.16]

In [13]:
#how to copy into other list
l2 = list(l)
l2

['a', 6, 9.16]

In [5]:
marks = [35,45,60,80,100]

In [6]:
marks

[35, 45, 60, 80, 100]

In [7]:
copy_marks = marks.copy()

In [8]:
copy_marks

[35, 45, 60, 80, 100]

a python string a sequence of characters and can be treated as an itarable over those charactors . Combined with the list() function,a new list the charactors can easily be generated.

In [2]:
list('amit')

['a', 'm', 'i', 't']

In [3]:
list(134567)

TypeError: 'int' object is not iterable

**append**

In [9]:
employee=[]
employee

[]

In [12]:
#append means adding
employee.append('amit')
print(employee)

['amit', 'ramesh', 'suraj', 'amit']

In [13]:
employee.append('ramesh')
employee.append('suraj')
print(employee)

['amit', 'ramesh', 'suraj', 'amit', 'ramesh', 'suraj']

**index & insert**

1)two arguments can be placed in insert method 
2)syntex: insert(index,object)
    3)this method placed the object at the index supplied

In [15]:
#use double inverted quotation if your string has quotation
employee.insert(1,"d'souza")
employee

['amit', "d'souza", "d'souza", 'ramesh', 'suraj', 'amit', 'ramesh', 'suraj']

In [16]:
#one more example with no
emp_salary =[15000,28000,19000]
emp_salary

[15000, 28000, 19000]

In [17]:
emp_salary.insert(0,48000)
emp_salary

[48000, 15000, 28000, 19000]

**List extended methods**

In [18]:
employee

['amit', "d'souza", "d'souza", 'ramesh', 'suraj', 'amit', 'ramesh', 'suraj']

**how to check total elements in the list if it is big**

In [19]:
#len means length
len(employee)

8

**indexing and slicing**

In [20]:
employee

['amit', "d'souza", "d'souza", 'ramesh', 'suraj', 'amit', 'ramesh', 'suraj']

In [21]:
#grab element based on index
employee[2]

"d'souza"

In [22]:
employee[1]='remo'
employee

['amit', 'remo', "d'souza", 'ramesh', 'suraj', 'amit', 'ramesh', 'suraj']

In [23]:
emp_salary

[48000, 15000, 28000, 19000]

In [24]:
#update the data based on index
emp_salary[1]=20000

In [25]:
emp_salary

[48000, 20000, 28000, 19000]

In [26]:
# grab index 1 and everything put it
emp_salary[1:]

[20000, 28000, 19000]

In [29]:
#grab everything up to index 2
emp_salary[:3]

[48000, 20000, 28000]

In [30]:
emp_salary[1:3]

[20000, 28000]

we can also use + to concatanate list, just like we did for string.

In [31]:
emp_salary + [25000]

[48000, 20000, 28000, 19000, 25000]

In [32]:
emp_salary

[48000, 20000, 28000, 19000]

**alert**

this dosnt actually change the original list
in this case , you have to resign the list to make the permanent change.

In [35]:
#Ressign to keep the data permanently
emp_salary = emp_salary + [25000]

In [36]:
emp_salary

[48000, 20000, 28000, 19000, 25000, 25000]

we can allso use the plus for diplicate method similar to string:

In [37]:
#make the list double
emp_salary*2

[48000,
 20000,
 28000,
 19000,
 25000,
 25000,
 48000,
 20000,
 28000,
 19000,
 25000,
 25000]

In [40]:
print('=' * 90)
print('                                  amit bhardwaj                       ')
print('*' * 90)

==========================================================================================
                                  amit bhardwaj
******************************************************************************************

In [41]:
#again doubling not permanent
emp_salary

[48000, 20000, 28000, 19000, 25000, 25000]

**Advanced Lists**

in this series of lacture, we will be diving a little deeper into all the avainle method in a list object. Thee are just methods that should encountered without some additional exploring . its pretty likely that you've some of these youreself!

**count**

In [42]:
marks = [25,100,38,49,55,38,100,26,47,55,55,100,60,74,88,38,100]

In [44]:
marks.count(100)

4

**index**

In [45]:
marks

[25, 100, 38, 49, 55, 38, 100, 26, 47, 55, 55, 100, 60, 74, 88, 38, 100]

In [46]:
marks.index(100)

1

**extand**

In [49]:
employee

['amit', 'remo', "d'souza", 'ramesh', 'suraj', 'amit', 'ramesh', 'suraj']

In [55]:
employee.append(['anu','sapna'])
print(employee)

['radha', 'remo', 'ramesh', 'salman', 'anu', 'sapna', ['anu', 'sapna']]

In [56]:
employee = ['radha','remo','ramesh','salman']
employee.extend(['anu','sapna'])
print(employee)

['radha', 'remo', 'ramesh', 'salman', 'anu', 'sapna']

**pop**
it means removing an item

In [57]:
students = ['raj','ram','abid','nancy','fatima']

In [58]:
students

['raj', 'ram', 'abid', 'nancy', 'fatima']

In [59]:
#deletes last element by default
pop_last = students.pop()
pop_last

'fatima'

In [60]:
#varify if its removed
students

['raj', 'ram', 'abid', 'nancy']

In [61]:
students = ['raj','ram','abid','nancy','fatima']

In [62]:
#deletes basesd on index position
pop_index = students.pop(1)
pop_index

'ram'

In [63]:
#varify if its removed
students

['raj', 'abid', 'nancy', 'fatima']

**remove**

In [64]:
roll_number = [100,101,102,103,104,103]

In [72]:
#delete data.(if there are duplicates , first elements is deleted)
roll_number.remove(103)

In [73]:
print(roll_number)

[100, 101, 102, 104]

**reverse**

In [68]:
list = [1,2,3,4,3]

In [70]:
list.reverse()

In [71]:
list

[3, 4, 3, 2, 1]

**sort**

sort will sort your lit in place

In [74]:
marks = [25,38,49,55,38,26,47,55,60,74,88,38]
marks

[25, 38, 49, 55, 38, 26, 47, 55, 60, 74, 88, 38]

In [75]:
#by default short in ascending order
marks.sort()
print(marks)

[25, 26, 38, 38, 38, 47, 49, 55, 55, 60, 74, 88]

In [77]:
#short in decending order
marks.sort(reverse=True)
print(marks)

[88, 74, 60, 55, 55, 49, 47, 38, 38, 38, 26, 25]