# TUPLES

**DATA IN THE TUPPLES IS ALWAYS IN THE PARANTHESES () . It is immutable**

**1)CONSTRUCTIVE TUPPLES**

In [2]:
#CAN CREAT TUOOLE WITH MIXED TYPES
work_location = ('bengaluru','noida','chennai','delhi')
work_location

('bengaluru', 'noida', 'chennai', 'delhi')

In [3]:
type(work_location)

tuple

In [4]:
emp_salary =(20000,35000,40000)
emp_salary

(20000, 35000, 40000)

**let's try add new work location**

In [5]:
work_location.append('hydrabad')

AttributeError: 'tuple' object has no attribute 'append'

**not possible cause touple is immutable..
but how do i had it?
yes we can convert touple into list and change the data as per our wish..**

In [6]:
#convert into list and reassign or you can store in new variable as per the need
work_location = list(work_location)
work_location

['bengaluru', 'noida', 'chennai', 'delhi']

In [7]:
type(work_location)

list

In [8]:
#change the data.
work_location.append('hydrabad')
work_location

['bengaluru', 'noida', 'chennai', 'delhi', 'hydrabad']

In [9]:
work_location[1]='kolkata'
work_location

['bengaluru', 'kolkata', 'chennai', 'delhi', 'hydrabad']

In [10]:
#convert into touple
work_location = tuple(work_location)

In [11]:
work_location

('bengaluru', 'kolkata', 'chennai', 'delhi', 'hydrabad')

In [12]:
#check len just like a list
len(work_location)

5

**similarly you can work numbers as well. no change in the concept.**

In [13]:
work_location

('bengaluru', 'kolkata', 'chennai', 'delhi', 'hydrabad')

In [14]:
#use indexing just like we did in lists
work_location[1]

'kolkata'

In [15]:
#slicing just like a list
work_location[-2]

'delhi'

**BASIC TUPLE METHODS**

In [17]:
numbers=(25,50,88,90,50)
numbers

(25, 50, 88, 90, 50)

In [19]:
#use index to enter a value and return the index
numbers.index(50)

1

In [20]:
#use count to count the numbers of times a value apaears
numbers.count(50)

2