# Dictionaries

we have learn about 'sequences' in the privious sesion. now lets switch the gear and learn "mapping" in python . these dictionaries are nothing but hash tables in other programming languages.

mapping are a collection of objects that are stored by a "key". Unlike a sequence , mapping store objects by their relative position. this is an importtant distinction since mappings wont retain the order since they have objects defined by a key.

A python dictionary consists of a key and then an associated value. that value can be almost any python object.

column names is called 'key' and given data is called 'value'

**constructing a Dictionary**

In [8]:
my_dict = {"key1":"value1","key2":"value2"}

In [9]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [10]:
#call value by their key
my_dict['key2']

'value2'

In [11]:
my_dict = {'roll_number':123,'marks':[12,23,33],'subject':['computer','science','maths']}

In [12]:
#let's call item from the dictionary
my_dict['subject']

['computer', 'science', 'maths']

In [13]:
#let's call on index on that value
my_dict['subject'][1]

'science'

In [16]:
my_dict['subject'][2]

'maths'

In [17]:
##can then even call method on that value
my_dict['subject'][0].upper()

'COMPUTER'

In [18]:
my_dict['marks']

[12, 23, 33]

In [19]:
#add marks to the first element
my_dict['marks'][0]= my_dict['marks'][0]+30

In [20]:
#check
my_dict['marks']

[42, 23, 33]

In [21]:
#another way to adding
my_dict['marks'][2]+=20

In [22]:
my_dict['marks']

[42, 23, 53]

In [23]:
#substracting
my_dict['marks'][2]-=3

In [24]:
my_dict['marks']

[42, 23, 50]

In [25]:
#add new keys
my_dict['year'] ='3rd'

In [26]:
my_dict

{'roll_number': 123,
 'marks': [42, 23, 50],
 'subject': ['computer', 'science', 'maths'],
 'year': '3rd'}

In [27]:
#update values
my_dict.update({'roll_number':100})

In [28]:
my_dict

{'roll_number': 100,
 'marks': [42, 23, 50],
 'subject': ['computer', 'science', 'maths'],
 'year': '3rd'}

In [29]:
my_dict.keys()

dict_keys(['roll_number', 'marks', 'subject', 'year'])

In [30]:
my_dict.values()

dict_values([100, [42, 23, 50], ['computer', 'science', 'maths'], '3rd'])

In [31]:
#items will return both keys and corrosponding values
my_dict.items()

dict_items([('roll_number', 100), ('marks', [42, 23, 50]), ('subject', ['computer', 'science', 'maths']), ('year', '3rd')])

**end of dictionary**

# Branching (if/elif/else)

In [38]:
i = 9

if i < 10 :
    print('it is less then 10')
else:
    print('it is something else')

it is less then 10

In [37]:
#you can also write in this way
print('it is less than 10') if i <10 else print ('it is something else')

it is less than 10

**Free Shipping message**

In [41]:
item_1 = 300
item_2 = 150
if (item_1+ item_2)>= 500:
    print("your items are eligible for free shipping")
    
else:
    extra = 500 - (item_1 + item_2)
    print('please add ', extra, 'rs worth of an item for free shipping')

please add  50 rs worth of an item for free shipping

In [49]:
#using 'and'
a = 200
b = 33
c= 500
if a > b and c < a:
    print('both conditions are true')
else:
    print('both are not true')

both are not true

In [48]:
#using 'or'
a = 200
b = 33
c= 500
if a > b or c < a:
    print('at least one of the condition is True')
else:
    print('both are not True')

at least one of the condition is True

**Find student level**

In [1]:
marks = 30

if marks >= 60:
    if marks > 70:
        print(marks, '- Distinction')
    else:        
            print(marks, '- First class')
            
elif marks > 50 and marks < 60:
    print(marks, '- Second class')
    
elif marks >= 35:
    print(marks, '-Pass')
    
else:
    print(marks, '- Fail - Better luck next time' )

30 - Fail - Better luck next time

In [15]:
num1 = 20
num2 = 30
if num1 == '20':
    print('its not 20')
elif num2 > 25:
    print ('its greater than 25')

its greater than 25

# **The range () function**

we can generate sequence of number using range( function, range(10) will generate numbers from 0 to 9 (10 numbers)
we can also defin the start stop  and step size as range (start,stop,step size) step size defaults to 1 if not providd.
the function does not store all teh values in memory it would be inefficiant so it remembers the start, stop, step size and generates the next number on the go.
To force this function to outpul all the items we can use the function list().

In [54]:
print(range(10))

range(0, 10)

In [55]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
roll_numbers = list(range(1,8))

In [58]:
roll_numbers

[1, 2, 3, 4, 5, 6, 7]

In [59]:
# step_size = list(range(start,stop,step_size))
step_size = list(range(0 , 31 ,3))
step_size

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [60]:
incr_by_hund = list(range(100, 1601, 100))
incr_by_hund

[100,
 200,
 300,
 400,
 500,
 600,
 700,
 800,
 900,
 1000,
 1100,
 1200,
 1300,
 1400,
 1500,
 1600]

In [61]:
reverse = list(range(1600, -1, -100))
reverse

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200,
 100,
 0]

**range function does not work for Float data**