# Loops

in general statements are executed sequentally the first statement in a function is excuted first followed by the second and so on there may be an situation when you need to excute a block of code several number of time.

**For Loop**

The for loop in python is used to iterate over a sequence (list,tupple,string) or other iterable objects, iterating over a sequence is called traversal.
loop continues until we reach the last item in the sequence

In [1]:
location = ['bengaluru','noida','chennai','hydrabad','delhi']
print(location)

['bengaluru', 'noida', 'chennai', 'hydrabad', 'delhi']

In [2]:
#list of string
location = ['bengaluru','noida','chennai','hydrabad','delhi']
for city in location:
    print(city)

bengaluru
noida
chennai
hydrabad
delhi

In [1]:
salary = [2000,4000,5000,7000,8000,4500,3800]
for val in salary:
    if val>5500:
        print(val)

7000
8000

In [10]:
student_score = [35,67,78,79,12,34,67,54,89]

for marks in student_score:
    if marks > 60:
        if marks > 70:
            print(marks, '- Distinction')
        else:  
              
            print(marks, '- First class')
    #elif=else+if        
    elif marks > 50 and marks < 60:
        print(marks, '- Second class')
    
    elif marks >= 35:
        print(marks, '-Pass')
    
    else:
        print(marks, '- Fail - Better luck next time' )

35 -Pass
67 - First class
78 - Distinction
79 - Distinction
12 - Fail - Better luck next time
34 - Fail - Better luck next time
67 - First class
54 - Second class
89 - Distinction

**List comprehension**

List comkprehension is a shoretr syntex when you want to creat a new list based on the value of existing list

In [6]:
salary = [2000,4000,5000,7000,8000,3800]
sal = [val for val in salary if val >5500]
sal

[7000, 8000]

**for loop with else**

a for loop can have optional else block as well . the else part is excuted if the item in the sequence used in for loop exhaused.

break statement can be used to stop a for loop in such case the else part is ignored.

Hence a for loops else part runs if no break occurs.

In [3]:
#MULTIPLICATION TABLE
for num in range (2,11):
    print('Multiplication table for -', num)
    for i in range (1,11):
        print (num * i)
        if i==10:
            print('\n') #(\N MEANS MOOV TO NEXT LINE)
            
else:            
                print('*' * 30)
                print('end of multiplication table')
                print('*' * 30)

Multiplication table for - 2
2
4
6
8
10
12
14
16
18
20


Multiplication table for - 3
3
6
9
12
15
18
21
24
27
30


Multiplication table for - 4
4
8
12
16
20
24
28
32
36
40


Multiplication table for - 5
5
10
15
20
25
30
35
40
45
50


Multiplication table for - 6
6
12
18
24
30
36
42
48
54
60


Multiplication table for - 7
7
14
21
28
35
42
49
56
63
70


Multiplication table for - 8
8
16
24
32
40
48
56
64
72
80


Multiplication table for - 9
9
18
27
36
45
54
63
72
81
90


Multiplication table for - 10
10
20
30
40
50
60
70
80
90
100


******************************
end of multiplication table
******************************

**while Loop**

The while loop in python is used to iterate over a block of code as long as the text experession is true.

In [5]:
#lets print something using while loop
i= 0

while i < 10:
    i = i+1
    print(i, ' data trained')

1  data trained
2  data trained
3  data trained
4  data trained
5  data trained
6  data trained
7  data trained
8  data trained
9  data trained
10  data trained

**one more example**

In [8]:
import time
result = time.localtime()
print(result)

time.struct_time(tm_year=2022, tm_mon=11, tm_mday=5, tm_hour=17, tm_min=11, tm_sec=7, tm_wday=5, tm_yday=309, tm_isdst=0)

In [10]:
while True:
    result = time.localtime()
    if result.tm_hour == 17 and result.tm_min== 13:
        print('wake up call') #instead of print your mobile will play sound
        break

wake up call

**Diffrence b/w for and while loop**

for loop if you know how many time you wnt to excute the code than use for loop.

while loop = if you dony know how many times you want to exute then use the while with the condition . it mens you will excute the code if the condition i true only.

**enumerate**

enumerate (allows us to iterate through a sequence but it keeps track of both the index and the element.)

In [13]:
students = ['Naveen','Ratna','Vivan','Sridhar','Chintu','Chinnu']

In [14]:
for name in enumerate(students):
    print (name)

(0, 'Naveen')
(1, 'Ratna')
(2, 'Vivan')
(3, 'Sridhar')
(4, 'Chintu')
(5, 'Chinnu')

In [16]:
#you can start index from any number
for name in enumerate (students,1):
    print(name)

(1, 'Naveen')
(2, 'Ratna')
(3, 'Vivan')
(4, 'Sridhar')
(5, 'Chintu')
(6, 'Chinnu')

**Zip**

In [27]:
students_name = ['Naveen','Ratna','Vivan','Sridhar','Chintu','Chinnu']
students_marks = [53,74,62,81,55,86]

In [28]:
students_details = list(zip(students_name,students_marks))

In [29]:
students_details

[('Naveen', 53),
 ('Ratna', 74),
 ('Vivan', 62),
 ('Sridhar', 81),
 ('Chintu', 55),
 ('Chinnu', 86)]

**UnZip**

In [31]:
name , marks_num  = zip(*students_details)

In [11]:
name

('Naveen', 'Ratna', 'Vivan', 'Sridhar', 'Chintu', 'Chinnu')

In [12]:
marks_num

(53, 74, 62, 81, 55, 86)