# break and continue statement

in puthon break and continue statement can alter the flow of a normal loop.

loops iterate over a block of code until test expressuion is false but sometime we wish to terminate the current iteration or even the whole loop without checking test expression.

the break and continue statement are used in these case.

**Break**

In [3]:
#use of break statement inside loop
city = ['bengaluru','delhi','noida','hydrabad','mumbai']

for val in city:
    if val == "hydrabad":
        break
    print(val)

bengaluru
delhi
noida

In [5]:
#as soon as condition loop satisfy loop will break andit will not check next element
 
    
salary = [2000,3800,4000,4500,5000,7000,8000]
    
for value  in salary:
    if value > 4600:
        break
    print(value)

2000
3800
4000
4500

**continue**

the continue statement is used to skip the rest of the code inside a loop for the current itration only. Loop does not terminate but continues on with the next iteration.

In [6]:
#program to show the use of continue statement inside Loops
city = ['bengaluru','delhi','noida','hydrabad','mumbai']

for val in city:
    if val == 'hydrabad':
        continue
    print(val)

bengaluru
delhi
noida
mumbai

In [7]:
salary = [2000,3800,4000,4500,5000,7000,8000]

for val in salary:
    if val > 5500:
        continue
    print(val)

2000
3800
4000
4500
5000

In [ ]:
# Functions

**introduction to function**

function will be one of our main building blocks when we construct large amount of code to solve problems

a function group a set of statements together to run the statements more then once . it allowes us to specify parameters that can serve as inputs to the functions.

Function is the most basic level of resuming code in Python and it will also allow us to start thinking of programme design.

**def statement**

# **define function**

In [ ]:
def name_of_function(arg1,arg2):
    ''''''
    this  is whwre the fonction documents string (doc - string) goes
    
    ''''''

**Example 1 : simple print 'hellow' function**

In [8]:
def say_hellow():
    
    print('this is just a sample')

In [9]:
say_hellow()

this is just a sample

**Example 2: A simple greeting function**

In [10]:
def greeting (name):
    print('hellow' , name)
# print('hellow %s' %name)

In [11]:
greeting('good morning')

hellow good morning

**using return**

**EX.1 Salary update example**

In [18]:
#without return
def salary_incr(fixed_salary,house_rent):
    tot_sal = (fixed_salary + house_rent)
    
    if tot_sal <= 9000:
        tot_sal + 1000
    else:
        return tot_sal

In [19]:
print ('your new salary = ', salary_incr(6500,2000))

your new salary =  None

In [2]:
#with return
def salary_incr(fixed_salary,house_rent):
    tot_sal = (fixed_salary + house_rent)
    
    if tot_sal <= 9000:
        return tot_sal + 1000
    else:
        return tot_sal

In [3]:
print ('your new salary = ', salary_incr(3500,1200))

your new salary =  5700

**Lets check realtime example**

**https://www.cartrade.com/used-car-price/**

In [7]:
def used_car_price(car_year,car_brand,kmeters):
    if car_year == 2020:
        if 10000 < kmeters <= 15000:
            if car_brand == 'Honda Amaze':
                print('Rs 690000 - Rs 750000')
            elif car_brand == 'Hyundai Creta':
                print('Rs 945000 - 1080000')
            else:
                print('no stock right now , please visit after few days')
                
        elif 15001 < kmeters <= 25000:
            if car_brand == 'Honda Amaze':
                print('Rs 690000 - Rs 750000')
            elif car_brand == 'Hyundai Creta':
                print('Rs 945000 - 1080000')
            else:
                print('no stock right now , please visit after few days')
        else:
            print('no stocks')
            
    elif car_year == 2021:
                
        if 10000 < kmeters <= 15000:
            if car_brand == 'honda amaze':
                print('rs 790000 - 850000')
            elif car_brand == 'Hyundai Creta':
                print('Rs 1045000 - 1180000')
          
            else:
                print('no stock right now , please visit after few days')
    else:
        print('no stock right now , please visit after few days')

In [10]:
used_car_price(2020,'Hyundai Creta',16000)

Rs 945000 - 1080000

# Lambda Function

In [ ]:
lambda arguments : expression

In [12]:
add_num = lambda y: y + 30
print(add_num(50))

80

In [13]:
#multiple argument
multi_num = lambda a, b : a*b
print(multi_num(15,20))

300

# * args and **kwargs

***args takes multiple inputs**

In [12]:
def my_fun(*args):
    for i in args:
        print ('my args: -', i)

In [13]:
my_fun('india', 'bengaluru', 30,40,234)

my args: - india
my args: - bengaluru
my args: - 30
my args: - 40
my args: - 234

****kwarg take key and value, just like dictonary data**

In [17]:
def my_kwargs(**kwargs):
    for key,value in kwargs.items():
        print(key,'=', value)

In [18]:
my_kwargs (students=['ram','shiva'],marks = '70,75')

students = ['ram', 'shiva']
marks = 70,75