# Pandas Series Manipulation

In [1]:
import numpy as np
import pandas as pd

In [3]:
#you can give your own index name
ser1 = pd.Series(data=[1,2,3,4], index=['CA','OR','CO','AZ'])

In [4]:
ser1

CA    1
OR    2
CO    3
AZ    4
dtype: int64

In [5]:
print("\nIndexing by name of the item/object (string identifier)\n",'-'*56, sep='')
print("value for CA in ser1:", ser1['CA'])
print("value for AZ in ser1:", ser1['AZ'])

Indexing by name of the item/object (string identifier)
--------------------------------------------------------
value for CA in ser1: 1
value for AZ in ser1: 4

In [6]:
print("\nIndexing by number (positional values in the series)\n",'-'*56, sep='')
print("value for CA in ser1:", ser1[0])
print("value for AZ in ser1:", ser1[3])

Indexing by number (positional values in the series)
--------------------------------------------------------
value for CA in ser1: 1
value for AZ in ser1: 4

In [7]:
print("\nIndexing by a range\n",'-'*25)
print("values for OR, CO, and AZ in ser1:\n", ser1[1:4])

Indexing by a range
 -------------------------
values for OR, CO, and AZ in ser1:
 OR    2
CO    3
AZ    4
dtype: int64

In [8]:
ser1 = pd.Series([1,2,3,4,10],['CA','OR','CO','AZ','NV'])

ser2 = pd.Series([1,2,5,4,30],['CA','OR','NV','PA','CO'])

In [9]:
print('Ser 1 \n', ser1)
print('*'*20)
print('Ser 2 \n', ser2)

Ser 1
 CA     1
OR     2
CO     3
AZ     4
NV    10
dtype: int64
********************
Ser 2
 CA     1
OR     2
NV     5
PA     4
CO    30
dtype: int64

In [10]:
#lets add both sreies
ser3 = ser1 + ser2

print("\nAfter adding the two series , the result looks like this ....\n", '-'*59)
print(ser3)
print("\nPython tries to add values where it finds comon index name, and keeps NaN where indices are missing")

After adding the two series , the result looks like this ....
 -----------------------------------------------------------
AZ     NaN
CA     2.0
CO    33.0
NV    15.0
OR     4.0
PA     NaN
dtype: float64

Python tries to add values where it finds comon index name, and keeps NaN where indices are missing

**similarly you can multiply, substract and do other operation on it**