# SQLite3_Python

In [1]:
#!/usr/bin/python

import sqlite3

#connecting with the database (if there is no database exist , it will creat one)
db = sqlite3.connect("student_database.db")

In [2]:
#Declare Cursor
cursor = db.cursor()

In [6]:
#creat table
cursor.execute("CREATE TABLE student_data(phone_number INT PRIMARY KEY, email_id TEXT, course_name TEXT,fee_paid INT)")

In [7]:
#Insert records into the table.(single record inserting)
cursor.execute("INSERT INTO student_data(phone_number, email_id, course_name, fee_paid) VALUES (600000000, 'ak16072419@gmail.com', 'Data Science', 30000)")

#save the records permenentaly. (if you dont commit, next time you will not see the records)
db.commit()

#count of record inserted
print(cursor.rowcount,"Record(s) inserted")

1 Record(s) inserted

**SELECT query - how to fetch records from the table**

In [8]:
results = cursor.execute("SELECT * FROM student_data")
for row in results:
    print(row)

(600000000, 'ak16072419@gmail.com', 'Data Science', 30000)

**multiple records insertion**

In [9]:
cursor.execute("INSERT INTO student_data VALUES(7000000000,'student2@gmail.com','Data Science',70000),(9000000000,'student3@gmail.com','Data Science',80000)")
db.commit()
#count of record insertion
print(cursor.rowcount,"Record(s) inserted")

2 Record(s) inserted

In [10]:
results = cursor.execute("SELECT * FROM student_data")
for row in results:
    print(row)

(600000000, 'ak16072419@gmail.com', 'Data Science', 30000)
(7000000000, 'student2@gmail.com', 'Data Science', 70000)
(9000000000, 'student3@gmail.com', 'Data Science', 80000)

**how to lode data from file into table.**

**note: keep CSV file in the same folder where your jupyter notebook i9s present or provide folder link. You cannnot open file directaly from github.**

In [ ]:
with open ('DT_Students.csv','r') as file:
    no_records = 0
    for row in file:
        cursor.execute("INSERT INTO student_data VALUES ( ?,?,?,? )", row.split(","))
        db.commit()
        no_records += 1
        
print(no_records, 'records Inserted')

In [ ]:
result = cursor.execute("SELECT * FROM student_data")
for row in result:
    print(row)

**WHERE clause - select records based on condition**

In [ ]:
sql = "SELECT * FROM student_data WHERE fee_paid > 70000"
#sql = "SELECT * FROM student_data WHERE course_name ='Data Science'"
result = cursor.execute(sql)
for row in result:
    print(row)

In [ ]:
result = cursor.execute("SELECT phone_number, fee_paid FROM student_data")
for row in result:
    print(row)

# ORDER BY

In [ ]:
#how to chwngw the order of records (increasing or decreasing)
result = cursor.execute("SELECT * FROM student_data ORDER BY fee_paid DESC")
for row in result:
    print(row)

In [ ]:
#single record update
sql= "update student_data set course_name = 'Data Science' where phone_number = 9988776612 "
cursor.execute(sql)

In [ ]:
#check if course name update for the perticular number
sql = "SELECT * FROM student_data WHERE phone_number =9988776612"
result = cursor.execute(sql)
for row in result:
    print(row)

In [ ]:
#multiple conditions
sql= "SELECT phone_number, course_name,fee_paid FROM student_data WHERE course_name = 'Data Science' AND fee_paid<=50000"
result = cursor.execute(sql)
for row in result:
    print(row)

In [ ]:
#multiple records update using in
sql = "UPDATE student_data SET fee_paid = 140000 WHERE phone_number IN (9988776611,9988776623,9988776615)"
cursor.execute(sql)

In [ ]:
#varify if its updated
result = cursor.execute("SELECT phone_number,fee_paid FROM student_data WHERE phone_number IN (9988776611,9988776623,9988776615)")
for row in result:
    print(row)

In [ ]:
#update records  using BETWEEN(THIS WILL UPDATE ALL THE RECORDS BETWEEN THE RANGE GIVEN)
sql = "UPDATE student_data SET course_name= 'Tableau' WHERE phone_number BETWEEN 9988776612 AND 9988776616"
cursor.execute(sql)

#varify if its update
result =cursor.execute("SELECT phone_number,course_name FROM student_data WHERE course_name = 'Tableau'")
for row in result:
    print(row)

# Min and Max function

In [ ]:
#MIN
result = cursor.execute("SELECT MIN(fee_paid) FROM student_data")
print('Minimum fees = ' , result.fetchone())

#MAX
result = cursor.execute("SELECT MAX(fee_paid) FROM student_data")
print('Miximum fees = ' , result.fetchone())

**DELETE records - how to delete unwanted records.**

usually developers/Data scientist are not authorized to delete any records from the table . Database admin does this kind of task..

In [ ]:
sql = "DELETE FROM student_data WHERE phone_number = 9988776623"
cursor.execute (sql)
db.commit()

# Subquery

in SQL a Subquerry is a querry within another querry . in other words we can say that a subquery is a query that is embedded in WHERE clause of another SQL query . Important rules of Subquery..

you can place the Subquery in a number of SQL clauses: WHERE clause, FROM claus. Subquery can be used with SELECT,UPDATE, INSERT DELETE statement along with expression operator . it could be equality operator of comparision operator such as =,>,=,<= and like operator.

In [ ]:
#db = sqlite3.connect("student_course_database.db")

In [ ]:
#cur=db.cursor()

In [ ]:
cursor.execute("CREATE TABLE course1(courseid int primary key,coursename text,duration int)")

In [ ]:
cursor.execute("CREATE TABLE student1 (roll_no int primary key, studentname text, age int, courseid int,foreign key(courseid) references course1(courseid))")

In [ ]:
cursor.execute("INSERT INTO course1 VALUES(78,'Data Science',12),(56,'Python course',4),(101,'Database',7)")
print(cursor.rowcount,"record(s) inserted ")

db.commit;

In [ ]:
cursor.execute("INSERT INTO student1 VALUES(1, 'jack',22,78),(2,'john',21,56),(3,'Rudolf',18,78),(4,'jim',21,56)")
print(cursor.execute,"record(s) inserted ")
db.commit;

In [ ]:
result= cursor.execute('SELECT * FROM course1')
for row in result:
    print(row)
    #result.fetchall

In [ ]:
result= cursor.execute('SELECT * FROM student1')
for row in result:
    print(row)
    #result.fetchall

In [ ]:
result= cursor.execute('SELECT courseid FROM course1 WHERE coursename="Python course"')
for i in result:
    print(i)

In [ ]:
result= cursor.execute('SELECT* FROM student1 WHERE courseid=(select courseid from course1 where coursename="Data Science")')
result.fetchall()

In [ ]:
result= cursor.execute('SELECT* FROM student1 WHERE courseid=(select courseid from course1 where coursename="Python course")')
result.fetchall()

**Fetch records using wildcard(%)**

In [ ]:
# => %x = can start with any letter but should end with x(% is wildcard it can be any letter)
# => x% = must start with letter x and can end with any letter
# => %x% = word must contain x anuwhere inside the word . even it is first letter it will still fetch
result= cursor.execute("SELECT * FROM student1 WHERE studentname LIKE '%o%'")
for i in result:
    print (i)

# join

**Diffrent type of SQL JOINs**

. **(INNER) JOIN**: returns record that have matching values in both tables

**.LEFT(OUTER) JOIN**: returns all record from the left table , and tyhe matched records from the right table

**.RIGHT(OUTER) JOIN**:  returns all record from the right table , and tyhe matched records from the left table

**.FULL(OUTER)JOIN**: RETURN ALL RECORD WHEN THERE IS A MATCH IN EITHER LEFT OR RIGHT TABLE

In [ ]:
#CREAT ONE MORE TBALE
cursor.execute("CREATE TABLE stud_det(phone_number INT PRIMARY KEY , student_name TEXT , enrolled_date TEXT , marks INT) ")

with open ('students_details.csv','r') as file:
    no_records = 0
    for row in file:
        cursor.execute("INSERT INTO stud_det VALUES (?,?,?,?)",row.split(","))
        db.commit()
        no_records +=1
        print(no_records, 'Records Inserted')

In [ ]:
#varify if record inserted
result = cursor.execute("SELECT *FROM stud_det")
for row in result:
    print(row)

# INNER JOIN

In [ ]:
SQL = "SELECT student_data.phone_number, stud_det.enrolled_date, stud_det.marks, stud_det.student_name FROM stud_det INNER JOIN student_data ON student_data.phone_number = stud_det.phone_number"
result = cursor.execute(sql)
for row in result:
    print(row)

# LEFT JOIN

In [ ]:
SQL = "SELECT student_data.phone_number, stud_det.enrolled_date, stud_det.marks, stud_det.student_name FROM stud_det LEFT JOIN student_data ON student_data.phone_number = stud_det.phone_number"
result = cursor.execute(sql)
for row in result:
    print(row)

**RIGHT JOIN and FULL OUTER JOIN not supported in Sqlite3.**

**Python and SQL (how to deal with Python code)**

In [ ]:
while True:
    try:
        ph_num = int(input('Your mobile number '))
        if len(str(ph_num)) != 10:
            print('Enter 10 digit phone number')
            continue
        else:
            result = cursor.execute("SELECT * FROM stud_det")
            for detail in result:
                if detail[0] == ph_num:
                    print('Name : ',detail[1])
                    print('DOJ : ',detail[2])
                    print('Mark : ',detail[3])
                    break
                    
            else:
                print('phone number not found in database')
                continue
            break
    except:
        print('phone number should be numeric')
        continue

phone number should be numeric

In [5]:
sql = "DROP TABLE student_data"
cursor.execute(sql)